 body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(167,169,171);
    background: linear-gradient(90deg, rgba(167,169,171,1) 17%, rgba(88,88,89,1) 100%);

 }
 img{
    width: 100%;
 }
 p{
    font-size: 1.3rem;
    line-height: 1.5;
 }

 .container { 
    max-width: 700px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

 }
 .quiz-box {
    width: 500px;
    height: 90vh;
    margin: 0 auto;
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
    padding: 1rem 5rem 5rem 5rem;
    border: 3px solid rgb(248, 247, 246);
    border-radius: 5px;

 }
 .quiz-box h1 {
    background: linear-gradient(90deg, rgba(212,225,238,1) 17%, rgba(186,186,208,1) 100%);
    font-size: 2rem;
    text-align: center;
    color: rgb(77, 77, 77);
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;

 }
 .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
 .quiz-header #progress {
    color:rgb(1, 1, 1) ;
    font-size: 1.2rem;
    font-weight: 700;

 }
 .quiz-header #count-down {
    font-size: 1.2rem;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(212,225,238,1) 17%, rgba(186,186,208,1) 100%);
    padding: 5px;
    margin: 1px;
    color: rgb(77, 77, 77);
    border-radius: 3px;
 }
.quiz-box #question {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(141, 141, 150);
    border-width: 2px 0;
    padding: 5px 0;
}
.buttons {
    margin: 1.5rem 0 4rem 0;
    

}
.btn {
    text-align: left;
    background: linear-gradient(90deg, rgba(212,225,238,1) 17%, rgba(186,186,208,1) 100%);
    width: 100%;
    font-size: 1rem;
    color: rgb(77, 77, 77);
    border:3px solid rgb(141, 141, 150);
    border-radius: 5px;
    margin: 7px 0;
    padding: 10px;
    outline: none;

}
.btn:hover {
    cursor: pointer;
    background: rgb(108, 108, 110);
    color: black;

}
.btn:active {
    background: rgb(65, 65, 65);
    color: white;
}
#score {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;

}
.quiz-repeat {
    text-align: center;
    margin: 0 auto;
}
.quiz-repeat a {
    width: 60%;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    background-color: rgb(58, 58, 58);
    padding: 1rem;
    border-radius: 5px;
    transition: all .3s;
}
.quiz-repeat a:hover {
    background-color:rgb(141, 141, 150);
}
footer{
    display: flex;
    justify-content: center;
    font-size: large;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
@media only screen and (max-width: 480px) {
    .quiz-repeat a {
      font-size: 1.2rem; /* Riduci la dimensione del font del pulsante */
      padding: 0.8rem; /* Riduci il padding del pulsante */
    }
    .quiz-box {
        position: relative; /* Aggiungi posizione relativa alla .quiz-box */
        display: flex; /* Aggiungi display flex */
        flex-direction: column; /* Imposta direzione dei figli in colonna */
        justify-content: center; /* Centra verticalmente i figli */
        align-items: center; /* Centra orizzontalmente i figli */
        height: 100vh; /* Altezza della quiz-box al 100% della viewport */
      }
      }
    
    footer {
        position: absolute; /* Aggiungi posizione assoluta al footer */
        bottom: 0; /* Posiziona il footer in fondo alla .quiz-box */
        width: 100%; /* Assicurati che il footer abbia la larghezza completa */
        margin-top: 10px; /* Sposta il footer più in alto */
        font-size: 14px; /* Riduci la dimensione del font del footer */
      }
    
  }
  